In [4]:
#4.1 자료형
type('A')

str

In [5]:
type(6)

int

In [6]:
type(2.8)

float

In [7]:
type(3 + 4j)

complex

In [8]:
type ([1,2,3,4])

list

In [9]:
#4.2 문자열과 리스트
x = 'dayo2n'
x[0]

'd'

In [10]:
x[1]

'a'

In [11]:
x[2]
x[3]

'o'

In [12]:
x = 'banana'

In [13]:
x[0] = 'n'
x

TypeError: 'str' object does not support item assignment

In [14]:
x = 'n' + x[1:]
x

'nanana'

In [15]:
prime = [2, 3, 7, 11]
prime.append(5)
prime

[2, 3, 7, 11, 5]

In [16]:
prime.sort()
prime

[2, 3, 5, 7, 11]

In [17]:
del prime[4]
prime

[2, 3, 5, 7]

In [18]:
prime[0] = 1
prime
#문자열과는 달리 원소를 바꿀 수 있음

[1, 3, 5, 7]

In [19]:
orders = ['potato', ['pizza', 'Coke', 'salad'], 'hamburger']
orders[1]

['pizza', 'Coke', 'salad']

In [20]:
orders[1][2]

'salad'

In [21]:
characters = []
sentence = 'Be happy!'
for char in sentence:
    characters.append(char)
print(characters)

['B', 'e', ' ', 'h', 'a', 'p', 'p', 'y', '!']

In [22]:
list('Be happy!')

['B', 'e', ' ', 'h', 'a', 'p', 'p', 'y', '!']

In [23]:
list(sentence)

['B', 'e', ' ', 'h', 'a', 'p', 'p', 'y', '!']

In [24]:
my_int = 123
type(my_int)

int

In [25]:
str(my_int)

'123'

In [27]:
my_str = str(my_int)
my_str

'123'

In [28]:
one_to_ten = list(range(1,11))
one_to_ten

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
sum(one_to_ten)

55

In [32]:
chulsu = [90, 85, 70]
younghee = [88, 79, 92]
yong = [100, 100, 100]
minsu = [90, 60, 70]

students = [chulsu, younghee, yong, minsu]

for scores in students:
    print(scores)

[90, 85, 70]
[88, 79, 92]
[100, 100, 100]
[90, 60, 70]

In [34]:
import operator
from functools import reduce # 이 부분 추가해줬는데.. average 소수점 확인해주기
for scores in students:
    total = reduce(operator.add, scores) # name 'reduce' is not defined
    average = total / len(scores)
    print(scores, total, average)

[90, 85, 70] 245 81.66666666666667
[88, 79, 92] 259 86.33333333333333
[100, 100, 100] 300 100.0
[90, 60, 70] 220 73.33333333333333

In [4]:
#연습문제 4.1 : 각 자리 숫자의 합을 구하는 함수 (리스트를 이용)
def sum_digit():
    str = input()
    ans = 0
    length = len(str)
    while length > 0:
        ans += int(str[length-1])
        length-=1
    print(ans)
        
sum_digit()

1231
7

In [5]:
#연습문제 4.2 : 줄기와 잎 그림

# stem_leaf = [[], [], []]

In [7]:
#4.3 튜플(tuple)


#다른 변수 하나를 이용해서 swap
a = 10
b = 20
temp = a
a = b 
b = temp
print (a, b)

20 10

In [8]:
#tuple을 사용해서 swap, 동시 처리
c = 10
d = 20
c, d = d, c
print (c, d)

20 10

In [9]:
def magu(x, y, *rest):
    print(x, y, rest)

magu(1, 2, 3, 5, 6, 7, 9, 10)

1 2 (3, 5, 6, 7, 9, 10)

In [11]:
#튜플을 만드는 방법
t = ('a', 'b', 'c') # 괄호써도되고 없어도 됨
empty = () # 빈 튜플을 만들땐 괄호가 있어야!
one = 5, #원소를 하나만 가진 튜플을 만들땐 콤마(,)

one

(5,)

In [20]:
p = (1, 2, 3)
q = list(p) # tuple p로 list q만들기
r = tuple(q) # list q로 tuple r로 만들기

(1, 2, 3)

In [21]:
#4.4 딕셔너리(dict)
dic = {}
dic['dictionary'] = '1. A reference book blahblah ...'
dic['python'] = 'Any of various nonvenomous snakes of the ...'
dic['dictionary']

'1. A reference book blahblah ...'

In [22]:
smalldic = {'dictionary' : 'reference', 'python' : 'snake'}
smalldic['python']

'snake'

In [23]:
smalldic

{'dictionary': 'reference', 'python': 'snake'}

In [24]:
del smalldic['dictionary']

In [25]:
smalldic

{'python': 'snake'}

In [27]:
'python' in smalldic

True

In [30]:
'dictionary' in smalldic

False